<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input v-model="param.input" type="text">{{param.input}}</input>
			<div>{{param.input}}</div>
			<div>{{param.a}}</div>
			<div class="cBox">
				你的选择:
				<mark v-for="item,ind of checkList" @click="onClick1(item,ind)">{{item.title}}</mark>
			</div>
			<ul>
				<li class="libox" v-for="item,ind of dataList">
					<div class="liLeft">
						{{item.title}}:
					</div>
					<ul class="liRight">
						<li class="lisub" v-for="i,num of item.list" @click="onclick(i,item.index)">{{i.title}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data: {
				checkList: {
					0: "",
					1: "",
					2: "",
					3: ""
				},
				param: {a:"iii"},
				List: [{
					title: "品牌",
					list: [{
							title: "苹果",
							index: "0"
						},
						{
							title: "小米",
							index: "1"
						},
						{
							title: "华为",
							index: "2"
						},
						{
							title: "OPPO",
							index: "3"
						},
						{
							title: "vivo",
							index: "4"
						},
						{
							title: "锤子",
							index: "5"
						},
					]
				}, {
					title: "尺寸",
					list: [{
							title: "1寸",
							index: "0"
						},
						{
							title: "2寸",
							index: "1"
						},
						{
							title: "3寸",
							index: "2"
						},
						{
							title: "4寸",
							index: "3"
						},
						{
							title: "5寸",
							index: "4"
						},
					]
				}, {
					title: "系统",
					list: [{
							title: "安卓",
							index: "0"
						},
						{
							title: "苹果",
							index: "1"
						},
						{
							title: "微软",
							index: "2"
						},
						{
							title: "其他",
							index: "3"
						},
						{
							title: "无",
							index: "4"
						},
					]
				}, {
					title: "网格",
					list: [{
							title: "移动",
							index: "0"
						},
						{
							title: "电信",
							index: "1"
						},
						{
							title: "联通",
							index: "2"
						},
					]
				}]
			},
			computed: {
				dataList() {
					let i = 0;
					this.List.forEach(item => {
						item.index = i++;
					});
					return this.List
				}
			},
			mounted() {
				setTimeout(() => {
					this.param.a = "xxx";
					console.log("this",this.param)
				}, 3000)
				console.log(this.dataList);

			},
			methods: {
				onclick(obj, ind) {
					this.checkList[ind] = obj;
					console.log("kk", obj, ind)
				},
				onClick1(obj, ind) {
					this.checkList[ind] = "";
					console.log("z", obj)
				}
			}
		})
	</script>
	<style lang="scss">
		#app {
			background: #efefef;

		}

		ul {
			list-style: none;

		}

		.cBox {
			mark {
				width: 50px;
			}
		}

		.liLeft {
			width: 100px;
			height: 35px;
			float: left;
		}

		.libox {
			height: 35px;
		}

		.liRight {
			list-style: none;
			float: left;

		}

		.lisub {
			width: 50px;
			height: 35px;
			float: left;
			margin: 0 5px;
		}
	</style>
</html>
